<h1>Webpay de Transbank</h1>
Pagando...
{{>alerta}}

<form action="{{datos.url}}" name="form" method="POST">
<input type="hidden" name="token_ws" value="{{datos.token}}" />
</form>


<script type="text/javascript">
    window.onload = function () {
        document.form.submit();
    };
</script>