<h1>Webpay de Transbank</h1>
{{>alerta}}
<ul>
    <li><strong>Protucto:</strong> Escritorio</li>
    <li><strong>Valor:</strong> $500.000</li>
    <li><strong>Cantidad:</strong> 1</li>
    <li><strong>Orden de compra:</strong> 34324</li>
</ul>

<a href="/webpay/pagar">Pagar</a>