<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/mysql">MySQL</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categorías</li>
  </ol>
</nav>
<h1>Categorías</h1>
<p>
{{>alerta}}
  <a href="/mysql/categorias/crear" class="btn btn-success">Crear</a>
</p>
<div class="responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each datos}}
        <tr>
          <td>{{id}}</td>
          <td>{{nombre}}</td>
          <td>
            <a href="/mysql/categorias/editar/{{id}}"><i class="fas fa-edit"></i></a>
            &nbsp;
            <a href="javascript:void(0);"
              onclick="confirmaAlert('¿Realmente desea eliminar este registro?', '/mysql/categorias/eliminar/{{id}}');">
              <i class="fas fa-trash text-danger"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>