<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/mysql">MySQL</a></li>
    <li class="breadcrumb-item"><a href="/mysql/categorias">Categorías</a></li>
    {{!-- <li class="breadcrumb-item"><a href="/mysql/categorias/crear">Crear Categorías</a></li> --}}
    <li class="breadcrumb-item active" aria-current="page">Editar Categorías</li>
  </ol>
</nav>
<h1>Editar Categoría - {{categoria.nombre}}</h1>
{{>alerta}}

<form action="/mysql/categorias/editar/{{categoria.id}}" method="post">
    <div class="row">
        <div class="form-group izquierda">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" value="{{categoria.nombre}}">
        </div>
    </div>
    <hr />
    <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}" />
    <input type="submit" value="Enviar" class="btn btn-primary" />
</form>