<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/mongo">MongoDB</a></li>
    <li class="breadcrumb-item"><a href="/mongo/categorias">Categorías</a></li>
    <li class="breadcrumb-item active" aria-current="page">Crear Categorías</li>
  </ol>
</nav>
<h1>Crear Categoría</h1>
{{>alerta}}

<form action="/mongo/categorias/crear" method="post">
    <div class="row">
        <div class="form-group izquierda">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control">
        </div>
    </div>
    <hr />
    <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}" />
    <input type="submit" value="Enviar" class="btn btn-primary" />
</form>